// Placeholder to allow overriding predefined variables smoothly.


$base-font-family: Georgia, Times, serif !default;
$post-font-family: Georgia, Times, serif !default;
$code-font-family: Monaco, Consolas, "Lucida Console", monospace !default;

$link-color: mix(#000, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;