// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-content {
    font-family: $post-font-family;
}


.container {
    display: flex;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

.main-content {
    width: 75%;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }
}