// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-content {
    font-family: $post-font-family;
}


.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
  }
  
.with-sidebar > :first-child {
flex-grow: 1;
}

.with-sidebar > :last-child {
flex-basis: 0;
flex-grow: 999;
min-inline-size: 50%;
}
   