// Placeholder to allow overriding predefined variables smoothly.


$base-font-family: Tahoma, "Roboto", "Segoe UI", Arial, sans-serif !default;
$post-font-family: Georgia, Times, serif !default;
$code-font-family: Monaco, Consolas, "Lucida Console", monospace !default;

